{% extends "Padre.html" %}
{% load static %}
{% block ContenidoDinamico %}
<!-- Seccion con info de Pilotos y API form -->


<section class="section" id="about">

    <div class="container">

        <div class="row align-items-center mr-auto">
            <div class="col-md-4">
                <!-- <h6 class="xs-font mb-0">nobis dolorem sapiente evenie.</h6> -->
                <h3 class="section-title">Fans</h3>
                <p>Aqui se enlistan todas los fans registrados:</p>
                <h6 class="xs-font mb-6"><a href="{% url 'Fans' %}">Registrarse como fan.</a></h6>

               <!-- <a href="javascript:void(0)">Read more...</a> -->
            </div>
            {% for x in object_list %}
            <div class="col-sm-6 col-md-4">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-cup"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">{{x.nombre}} {{x.apellido}}</h4>
                        <p>fan</p>
                        <div class="widget">
                            &nbsp;<a class="nav-link btn btn-primary" href="{% url 'EliminarFan' x.pk %}"><i class="ti-trash"></i></a>&nbsp;
                            &nbsp;<a class="nav-link btn btn-primary" href="{% url 'ModificarFan' x.pk %}"><i class="ti-marker-alt"></i></a>&nbsp;
                            &nbsp;<a class="nav-link btn btn-primary" href="{% url 'DetalleFan' x.pk %}"><i class="ti-info-alt"></i></a>&nbsp;
                        </div>                   
                    </div>
                </div>
                <!-- <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-money"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">10</h4>
                        <p>Escuderias de alto nivel</p>
                    </div>
                </div> -->
            </div>
            {% endfor %}
            <!--
            <div class="col-sm-6 col-md-4">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-star"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">+70</h4>
                        <p>Años de historia.</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-user"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">20</h4>
                        <p>Pilotos profesionales.</p>
                    </div>
                </div>
            </div> -->
         </div>
    </div>
</section>

{% endblock %}