{% extends "Padre.html" %}
{% load static %}
{% block ContenidoDinamico %}
<!-- Seccion con info de Pilotos y API form -->

<section id="contact" class="section pb-0">

    <div class="container">
        <!-- <h6 class="xs-font mb-0">Inicia tu nueva publicacion aqui.</h6> -->
        <h3 class="section-title mb-5">Responder a {{mensaje.autor}}:</h3>

        <div class="row align-items-center justify-content-between">
            <div class="col-md-8 col-lg-7">
                <!-- <form action="" method="post">
                    {% csrf_token %}
                        <table>
                    
                            {{ MiForm.as_table }}

                        </table>
                    <input type="submit", value="Enviar">
                </form> -->
                <form class="contact-form" method="post">
                    {% csrf_token %}
                    <h6 class="xs-font mb-0">Mensaje anterior:</h6>
                    <div class="form-group">
                        <input   cols="30" rows="5" class="form-control"  value="{{mensaje.cuerpo}}" readonly >
                    </div>
                    <div class="form-row">
                        
                        <div class="col form-group">
                            <input type="text" class="form-control" placeholder="Autor" name="{{ MiForm.destinatario.name }}" value="{{ mensaje.destinatario }}" readonly>
                        </div>
                        <div class="col form-group">
                            <input type="text" class="form-control" placeholder="Destinatario" name="{{MiForm.autor.name}}" value="{{ mensaje.autor }}" readonly>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <input   cols="30" rows="5" class="form-control" placeholder="Empieza a escribir aqui..." name="{{MiForm.cuerpo.name}}" >
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Responder">
                    </div>
                </form>
            </div>
        </div>

        <footer class="footer mt-5 border-top">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 text-center text-md-left">
                    <p class="mb-0"><script>document.write(new Date().getFullYear())</script> &copy;</p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="social-links">
                        <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                        <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                        <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                        <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                        <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                        <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
                    </div>
                </div>
            </div> 
        </footer>
    </div>
</section>

{% endblock %}