{% extends "Padre.html" %}
{% load static %}
{% block ContenidoDinamico %}
<!-- Seccion con un API form -->

<!-- Muestro info de escuderias -->
<h4><a href="{% url 'MostrarEscuderias' %}" title="Click aqui para ver todas las Escuderias registradas.">Escuderias:</a></h4>
{% if teams %}
    
    {% for esc in teams %}

    <div class="col-sm-6 col-md-4">
        <div class="widget">
            <div class="icon-wrapper">
                <i class="ti-cup"></i>
            </div>
            <div class="infos-wrapper">
                <h3 class="text-primary"><a href="{% url 'DetalleEscuderia' esc.pk %}" title="Click para mas info">{{esc.escuderia}} <i class="ti-info-alt"></i></a></h3>
                <p>{{esc.nacionalidad}}</p>
                <!-- 
                <div class="widget">
                    &nbsp;<a class="nav-link btn btn-primary" href="{% url 'EliminarEscuderia' esc.pk %}"><i class="ti-trash"></i></a>&nbsp;
                    &nbsp;<a class="nav-link btn btn-primary" href="{% url 'ModificarEscuderia' esc.pk %}"><i class="ti-marker-alt"></i></a>&nbsp;
                    &nbsp;<a class="nav-link btn btn-primary" href="{% url 'DetalleEscuderia' esc.pk %}"><i class="ti-info-alt"></i></a>&nbsp;
                </div>  -->                
            </div>
        </div>
    </div>
    <!--
        <p>Nombre: {{ esc.escuderia}}</p>
        <p>Nacionalidad: {{ esc.nacionalidad}}</p>
        <p>Patrocinador: {{  esc.patrocinador }}</p>
        <p>Prooverdor del motor: {{ esc.proov_motor}}</p>
        <p>GP anfitrion: {{ esc.gp_anfitrion}}</p>
        <p>Piloto Principal: {{  esc.pil_ppal}}</p>
        <p>Piloto secundario: {{  esc.pil_sec}}</p>
        <p>Cantidad de empleados: {{ esc.cant_emp}}</p>
    -->

    {% endfor %}
{% else %}
    <p>No hay escuderias registradas con ese nombre</p>
{% endif %}

<!-- Muestro info de ingenieros -->
<h4><a href="{% url 'MostrarIngenieros' %}" title="Click aqui para ver todos los Ingenieros registrados.">Ingenieros:</a></h4>
{% if ingenieros %}

    {% for ing in ingenieros %}
    
        <p>Nombre: {{ ing.nombre}}</p>
        <p>Apellido: {{ ing.apellido}}</p>
        <p>Nacionalidad: {{ ing.nacionalidad}}</p>
        <p>Edad: {{ ing.edad}} años</p>
        <p>Escuderia: {{ ing.escuderia}}</p>
        <p>Titulo: {{ ing.titulo}}</p>
        <p>Especialidad: {{ ing.especialidad}}</p>
        <p>Universidad: {{ ing.universidad}}</p>
        <p>Experiencia: {{ ing.exp}} años</p>
        <p>Email: {{ ing.email}}</p>

    
    {% endfor %}
{% else %}
    <p>No hay ingenieros registrados con ese nombre</p>
{% endif %}


<!-- Muestro info de pilotos -->
<h4><a href="{% url 'MostrarPilotos' %}" title="Click aqui para ver todos los Pilotos registrados.">Pilotos</a></h4>
{% if pilotos %}

    {% for pil in pilotos %}
    
    <p>Nombre: {{ pil.nombre}}</p>
    <p>Apellido: {{ pil.apellido}}</p>
    <p>Nacionalidad: {{ pil.nacionalidad}}</p>
    <p>Edad: {{ pil.edad}} años</p>
    <p>Escuderia: {{ pil.escuderia}}</p>
    <p>Experiencia: {{ pil.exp}} años</p>
    <p>Campeonatos disputados: {{ pil.camp_disp}}</p>
    <p>Campeonatos ganados: {{ pil.camp_gan}}</p>
    <p>Circuito preferido: {{ pil.circuito}}</p>

    
    {% endfor %}
{% else %}
    <p>No hay pilotos registrados con ese nombre</p>
{% endif %}


<!-- Muestro info de fans -->
<h4><a href="{% url 'MostrarFans' %}" title="Click aqui para ver todos los Fans registrados.">Fans:</a></h4>
{% if Fans %}

    {% for fan in Fans %}
    
        <p>Nombre: {{ fan.nombre}}</p>
        <p>Apellido: {{ fan.apellido}}</p>
        <p>Email: {{ fan.email}}</p>
    
    {% endfor %}
{% else %}
    <p>No hay fans registrados con ese nombre</p>
{% endif %}    

<!-- Muestro info de periodistas -->
<h4><a href="{% url 'MostrarPeriodistas' %}" title="Click aqui para ver todos los Periodistas registrados.">Periodistas:</a></h4>
{% if periodistas %}

    {% for per in periodistas %}
    
        <p>Nombre: {{ per.nombre}}</p>
        <p>Apellido: {{ per.apellido}}</p>
        <p>Medio Informativo: {{ per.medio}}</p>
        <p>Matricula Profesional: {{ per.matricula}}</p>
        <p>Email: {{ per.email}}</p>
    
    {% endfor %}
{% else %}
    <p>No hay periodistas registrados con ese nombre</p>
{% endif %}    

{% endblock %}
